<div class="row package-footer">
  <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm">
    <div class="package-overview-details shipping-details">
      <ul class="list-inline">
        <% if @basic_stock %>
          <li class="text-center"><i class="fa fa-check" aria-hidden="true"></i></li>
          <li><h6><%= Spree.t(:in_stock) %></h6></li>
        <% else %>
          <li class="text-center text-red"><i class="fa fa-close" aria-hidden="true"></i></li>
          <li><h6 class="text-red"><%= Spree.t(:out_of_stock) %></h6></li>
        <% end %>
      </ul>
      <ul class="list-inline">
        <li><i class="fa fa-truck" aria-hidden="true"></i></li>
        <li><h6><%= Spree.t(:livraison_gratuite) %></h6></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2 hidden-xs hidden-sm text-center">
    <div class="package-overview-details">
      <b class="package-price-details">2,058 €</b>
    </div>
  </div>
  <div class="col-md-5">
    <%= simple_form_for :package, html: { class: "text-center row add-package" }, url: add_package_path(@basic, category: params[:category], package_name: @basic.name.downcase) do |f| %>
    <h6 class="text-center col-md-4">Quick add</h6>
    <%= f.input :quantity, as: :integer, input_html: { placeholder: "Quantity", class: "package-quantity-input", value: 1 }, wrapper_html: { class: "col-md-3" }, label: false %>
    <div class="col-md-5 text-center">
      <%= button_tag(type: 'submit', class: "btn btn-primary package-customize-btn add-cart") do %>
        <%= Spree.t(:add_to_cart) %>
      <% end %>
    </div>
  <% end %>
    <div class="package-customize-btn-grp text-center row">
      <div class="col-md-5 col-md-offset-7">
        <%= link_to package_path(package_name: @basic.name.downcase), class: "btn btn-danger package-customize-btn" do %>
          <%= Spree.t(:customize) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
