<div class="container-fluid">
  <h3 class="text-center">Choose your laptop package</h3>

  <section class="package-selection homepage-section row">
     <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills nav-justified">
        <li class="active package-overview-container container-laptop">
          <a data-toggle="pill" href="#basic-laptop-package" class="package-overview-select clearfix">
            <h4><%= @basic.name %></h4>
            <div class="text-center package-icon-container"><%= image_tag "laptop_gear1.png", alt: "Basic Pakage image", class: "package-icon" %></div>
            <ul class="package-overview-details text-left">
              <li>Dell Computer</li>
              <li>Keyboard</li>
              <li>HP Mouse</li>
            </ul>
            <b class="package-price">2,058 €</b>
          </a>
          <div class="row lead text-center">
            <div class="starrr"></div>
            <span class="star-count">0</span>
            star(s)
          </div>
        </li>
        <hr class="hidden-md hidden-lg">
        <li class="package-overview-container container-laptop">
          <a data-toggle="pill" href="#standard-laptop-package" class="package-overview-select clearfix">
            <h4><%= @standard.name %></h4>
            <div class="text-center package-icon-container"><%= image_tag "laptop_gear2.png", alt: "Standard Pakage image", class: "package-icon" %></div>
            <ul class="package-overview-details text-left">
              <li>Dell Computer or Apple Computer</li>
              <li>Keyboard</li>
              <li>HP Mouse</li>
              <li>Microsoft Office</li>
            </ul>
            <b class="package-price">2,137 €</b>
          </a>
          <div class="row lead text-center">
            <div class="starrr"></div>
            <span class="star-count">0</span>
            star(s)
          </div>
        </li>
        <hr class="hidden-md hidden-lg">
        <li class="package-overview-container container-laptop">
          <a data-toggle="pill" href="#premium-laptop-package" class="package-overview-select clearfix">
            <h4><%= @premium.name %></h4>
            <div class="text-center package-icon-container"><%= image_tag "laptop_gear3.png", alt: "Premium Pakage image", class: "package-icon" %></div>
            <ul class="package-overview-details text-left">
              <li>Dell Computer or Apple Computer</li>
              <li>Keyboard</li>
              <li>HP Mouse</li>
              <li>Microsoft Office</li>
              <li>External Monitor</li>
            </ul>
            <b class="package-price">2,436 €</b>
          </a>
          <div class="row lead text-center">
            <div class="starrr"></div>
            <span class="star-count">0</span>
            star(s)
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="package-details row">
    <div class="tab-content col-md-8 col-md-offset-2">
      <div id="basic-laptop-package" class="tab-pane fade in active">
        <div><%= render "spree/home/partials/basic_laptop" %></div>
      </div>
      <div id="standard-laptop-package" class="tab-pane fade">
        <div><%= render "spree/home/partials/standard_laptop" %></div>
      </div>
      <div id="premium-laptop-package" class="tab-pane fade">
        <div><%= render "spree/home/partials/premium_laptop" %></div>
      </div>
    </div>
  </section>
</div>
