<div class="modal fade" id="myModal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= Spree.t(:sign_up) %></h4>
      </div>
      <div class="modal-body">

        <div class="sign-in">
          <fieldset id="password-credentials">
            <h1><strong><%= Spree.t(:new_customer)%></strong></h1>
            <div class="all-form">
              <div class="form-group">
                <input class="form-control" tabindex="1" placeholder="<%= Spree.t(:first_name) %>" type="text">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="2" placeholder="<%= Spree.t(:last_name) %>" type="text">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="3" placeholder="<%= Spree.t(:email) %>" type="text" >
              </div>
                <hr>
              <div class="form-group">
                <input class="form-control" tabindex="4" placeholder="<%= Spree.t(:password) %>" type="password">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="5" placeholder="<%= Spree.t(:confirm_password) %>" type="password">
              </div>

              <div class="form-group">
                <input type="submit" name="commit" value="<%= Spree.t(:create) %>" class="btn btn-primary btn-block" tabindex="6" data-disable-with="Connexion">
              </div>
            </div>

          </fieldset>
       </div>
       <div class="text-center">
           ou
           <a href="/signup"><%= Spree.t(:create_a_new_account)%> </a> |
           <a href="/password/recover"><%= Spree.t(:forgot_password)%></a>
         </div>

      </div>
    </div>
  </div>
</div>
