<%= render "spree/shared/navbar" %>

<main class="container-fluid homepage-section <%= controller_name %> <%= action_name %>">
  <section class="row">

    <div class="col-md-2 text-center">
      <div class="wrapper">
        <%= link_to special_deals_url, class: "promotion" do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="special-deal-wrapper">
          <%= image_tag "special_deal.png", class: "special-deal" %>
        </div>
        <% end %>
      </div>
    </div>
    <hr class="hidden-md hidden-lg">
    <div class="col-md-8">
      <div class="row">
        <%= link_to (category_path(category: "laptop")) do %>
        <span>
          <div class="col-md-4 product-pack text-center">
            <h3><%= Spree.t(:package1_laptop) %></h3>
            <div class="package-icon-container"><%= image_tag "laptop.png", class: "package-icon" %></div>
            <p class="text-left category-description"><%= Spree.t(:resume_pack1) %></p>
            <br>
            <%= link_to Spree.t(:btn_select_package), category_path(category: "laptop"), class: "btn btn-warning" %>
          </div>
        </span><% end %>
        <hr class="hidden-md hidden-lg">
        <%= link_to (category_path(category: "desktop")) do %>
        <span>
          <div class="col-md-4 product-pack text-center">
            <h3><%= Spree.t(:package2_desktop) %></h3>
            <div class="package-icon-container"><%= image_tag "desktop.png", class: "package-icon" %></div>
            <p class="text-left category-description"><%= Spree.t(:resume_pack2) %></p>
            <br>
            <%= link_to Spree.t(:btn_select_package), category_path(category: "desktop"), class: "btn btn-success" %>
          </div>
        </span><% end %>
        <hr class="hidden-md hidden-lg">
        <%= link_to (category_path(category: "laptop")) do %>
        <span>
          <div class="col-md-4 product-pack text-center">
            <h3><%= Spree.t(:package3_workstation) %></h3>
            <div class="package-icon-container"><%= image_tag "workstation.png", class: "package-icon" %></div>
            <p class="text-left category-description"><%= Spree.t(:resume_pack3) %></p>
            <br>
            <%= link_to Spree.t(:btn_select_package), category_path(category: "workstation"), class: "btn btn-info" %>
          </div>
        </span>
        <% end %>
      </div>
    </div>
  </section>
</main>

<%= render "spree/shared/login-modal" %>
<%= render "spree/shared/signup-modal" %>


<div id="myModal" class="modal fade" role="dialog">
  <%= render 'spree/shared/navbar_contact_modal' %>
</div>

<%= render "spree/shared/footer" %>
