<%= render "spree/shared/navbar" %>

<main class="container-fluid homepage-section <%= controller_name %> <%= action_name %>">
  <section class="row">

    <div class="col-md-2 text-center">
      <a class="promotion" href="#">
<!--         <%= image_tag "promotion.png", class: "fa-pulse promotion-badge" %>
 -->        <h5 class="promotion-text text-center">SPECIAL DEAL!</h5>
      </a>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 text-center">
          <h3>Laptop</h3>
          <div class="package-icon-container"><%= image_tag "laptop.png", class: "package-icon" %></div>
          <p class="text-left category-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus placeat, eos optio. Adipisci tempora possimus in quisquam ex debitis voluptatibus, minus architecto quas eligendi, dolore provident incidunt? Ratione, recusandae facilis?</p>
          <br>
          <%= link_to "Select", category_path(category: "laptop"), class: "btn btn-primary" %>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-md-4 text-center">
          <h3>Desktop</h3>
          <div class="package-icon-container"><%= image_tag "desktop.png", class: "package-icon" %></div>
          <p class="text-left category-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error sequi quo beatae enim pariatur magnam nobis voluptas. Voluptas cupiditate blanditiis molestiae optio fugit amet, officiis tenetur quasi inventore debitis.</p>
          <br>
          <%= link_to "Select", category_path(category: "desktop"), class: "btn btn-success" %>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-md-4 text-center">
          <h3>Workstation</h3>
          <div class="package-icon-container"><%= image_tag "workstation.png", class: "package-icon" %></div>
          <p class="text-left category-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur atque temporibus doloremque eaque dolore delectus fugit, veniam autem suscipit deleniti ducimus eum, officia ipsam explicabo? Pariatur mollitia, sint alias deserunt.</p>
          <br>
          <%= link_to "Select", category_path(category: "workstation"), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="row homepage-footer">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-4 footer-address">
        <h5>Contact Us</h5>
        <br>
        <div class="row">
          <i class="fa fa-map-marker fa-lg col-xs-1 footer-contact-icon"></i>
          <p class="col-xs-10">119 Boulevard de Strasbourg, Paris 75002</p>
        </div>
        <br>
        <div class="row">
          <i class="fa fa-envelope col-xs-1 footer-contact-icon"></i>
          <p class="col-xs-10">shop-it@shopit.com</p>
        </div>
      </div>
      <br class="hidden-md hidden-lg">
      <div class="col-md-4 col-md-offset-4 footer-social">
        <h5>Social</h5>
        <br>
        <ul>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-circle fa-stack-2x facebook-bg"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-circle fa-stack-2x twitter-bg"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-circle fa-stack-2x google-bg"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>

</footer>
